/* estilos generales para todas las paginas*/
#body{
    background-color: black;
}
#logo{
    display: flex;
    place-content: center;
}
#head{
    background-image: url("/img/banner.png");
    background-size: cover;
}
#main{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#navegador{
    background-color: rgb(255, 234, 117);
}
#menu{
    display: flex;
}
#filatarjeta{
    display: flex;
    justify-content: center;
    padding: 1%;
}
.card{
    background-color: black;
    color: white;
}
.col{
    display: flex;
    justify-content: center;
    padding-top: 2%;
}
.nav{
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    font-style: italic;
}
.nav-link {
    color: black;
}
#cardfoot{
    margin: 1%;
    padding: 2%;
    display: flex;
    align-items: center;
    border-color: rgb(255, 234, 117);
    color: rgb(255, 234, 117);;
}
#cardcuerpo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#titulotemporal{
    display: flex;
    align-content: center;
    color: white;
}
/* fin estilos generales para todas las paginas*/

/* estilos especificos para pagina de contacto*/
#contacto{
    color: white;
    padding: 2%;
}
/* fin estilos especificos para la pagina contacto*/

/*estilo especifico par index, seccion noticias*/

#noticias{
    color: white;
    display: flex;
    flex-direction: column;;
    text-align: center;
    border: 2px rgb(255, 234, 117) dotted;
    border-radius: 5px;
    padding: 2%;
}
.accordion-button{
    background-color: rgb(255, 234, 117);
    border: rgb(0, 0, 0) 2px solid;
    font-weight: 600;
     
}
.accordion-button:not(.collapsed) {
    color: black;
    background-color: rgb(255, 234, 117);
    font-weight: bolder;
    border: rgb(0, 0, 0) 2px solid;
}
.accordion-item{
    color: rgb(255, 234, 117);
    background-color: black;
}
